:disabled {
  color: white;
}
ul {
  list-style-type: none;
}

header img {
  max-width: 120px;
}

.header-title {
  font-size: 4em;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 5px 5px 2px #00000080;
}

.game-board {
  background-color: #414141;
  box-shadow: 12px 10px 10px #52525286;
  color: white;
  border-radius: 10px;
}

.tile-box {
  background-color: rgb(161, 161, 161);
  padding: 15px;
  font-size: 3.5em;
  min-height: 120px;
}

.active-player {
  border: 2px solid #ffff00;
  border-radius: 5px;
  color: #ffff00;
}

.player-select {
  padding: 10px;
}

.player-select-button {
  background-color: #80808000;
  color: #f0f8ff9f;
}

.player-turns-section {
  color: white;
  padding: 50px 0px;
  margin-top: 29px;
  border-radius: 10px;
  background-color: #6b6b6bc4;
  box-shadow: 5px 5px 10px #52525286;
}

.game-over {
  height: 600px;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  background-color: #7e7b7bf1;
  box-shadow: 15px 15px 10px #11111186;
}

.game-over h1 {
  padding-top: 35%;
  width: 100%;
  font-weight: 900;
}
