:disabled {
  color: white;
}

.game-board {
  background-color: #414141;
  color: white;
  border-radius: 10px;
}

.tile-box {
  background-color: rgb(161, 161, 161);
  padding: 25px;
  font-size: 4em;
  min-height: 150px;
}

.active-player {
  border: 2px solid #ffff00;
  border-radius: 5px;
  color: #ffff00;
}

.player-select {
  min-height: 50px;
  padding: 10px;
}

.player-select-button {
  background-color: #80808000;
  color: #f0f8ff9f;
}
